page-edit {
    .header ion-title{
        text-align: center;
    }
    ion-label{
        font-size: smaller;
    }
    ion-input{
        font-size: small;
    }
    ion-datetime{
        font-size: small;
    }
}
