<ion-header >
  <ion-toolbar>
    <ion-buttons>
      <button ion-button menuToggle>
        <ion-icon name="menu" color="primary"></ion-icon>
      </button>
      <button (click)="Logout()"><ion-icon style="padding-right:4px" name="log-out"></ion-icon>
        Logout</button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>



<ion-content >
  <ng-container *ngFor="let seq of (userData | async)?.interests; let y = index"  >
  <ng-container *ngFor="let item of arrData; let i = index">
      <ng-container *ngIf = "seq.indexOf(item.type) > -1">
    <ion-item>
      <ion-card>
        <img src="{{item.photo}}" height="250"> 
        <ion-item>
          <ion-icon ios="ios-musical-notes" md="md-musical-notes" item-start large></ion-icon>
          <h2>{{item.name}} </h2>
          <p>{{item.desc}}</p>
          <p>contact : {{item.email}}</p>
        </ion-item>
      
      <ion-item>
        <ion-icon ios="ios-time" md="md-time" item-left large ></ion-icon>
        <h2>{{item.time}}</h2>
        <p>On {{item.day}} {{item.month}} {{item.year}} </p>
        <p>{{item.city}}</p>
        <p>{{item.location}}</p>
      </ion-item>
    
        <ion-item >
        <span item-left>Attendence Max.Num : {{item.maxnumber}}</span>
        <button ion-button icon-left clear item-end [disabled]="item.maxnumber-item.regnumber == 0 " *ngIf="item.paid" (click)="openPrice(item , i)">
          <ion-icon name="arrow-dropright-circle"></ion-icon>
          {{item.price}}
        </button>
        <button ion-button icon-left clear item-end [disabled]="item.maxnumber-item.regnumber == 0 " *ngIf="!item.paid" (click)="openFree(item , i)">
          <ion-icon name="arrow-dropright-circle"></ion-icon>
          Free
        </button>
        <p *ngIf="item.maxnumber - item.regnumber == 0">Number of Attendence is completed </p>
      </ion-item>
    </ion-card>
  </ion-item>
</ng-container>
</ng-container> 
  </ng-container> 
</ion-content>

