page-welcome {
  #welcome{
        background-image:url("../assets/imgs/back.jpg");
        background-size: 100% 100%
    }
    .marginTop{
        margin-top:50px;
        
    }
    button{
        display: block;
        padding: 15px;
        float: left;
  width: 50%;
    }
    h1{
        font-style: oblique;
        //font-family:cursive;
    }
    .contact{
        margin-right:6px;
    }
    .logo{
        margin-left: 60px ;
        margin-top: 50px;
        height: 150px ;
        width: 170px;
        
    }
}
