
<ion-header>

  <ion-navbar>
    <ion-title>interests</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
<ion-list class="accordion-list">
    <ng-container *ngFor="let seq of information" no-lines no-padding>
    <ng-container *ngFor="let item of uesrInteresrData; let index=i" no-lines no-padding> 
 
     

    <ng-container *ngIf="item === seq.name">
       
      <ion-item no-lines>
         {{seq.name}}
        <ion-buttons end>
            <button><ion-icon name="checkbox" color="secondary"></ion-icon>
           </button>
          </ion-buttons>
        </ion-item>

    </ng-container>
  </ng-container>
</ng-container>
    

    
  
           
         
</ion-list>

</ion-content>
